<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="dialect" value="oracle" />
		<property name="pageSqlId" value=".*Page$" />
	</properties>
	
	<!-- cache开关 -->
	<!-- <settings>
		<setting name="cacheEnabled" value="true" />
	</settings> -->
	
	<plugins>
		<plugin interceptor="com.lq.util.interceptor.CacheInterceptor" />
	</plugins>

</configuration>