<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
       
	<!-- 指定Spring的配置文件所在目录。默认配置在WEB-INF目录下 -->
	<import resource="classpath:spring/applicationContext-mvc.xml"/>
</beans>